.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid rgb(228, 228, 228);
}
.logowrapper {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}
.logo {
  height: 28px;
  width: auto;
}
.saav {
  color: rgb(20, 20, 20);
  font-weight: 600;
  font-size: 20px;
  margin-left: 0.3rem;
}
.login_btn {
  color: white;
  font-family: "elemen";
  font-size: 16px;
  font-weight: 500;
  margin-right: 5%;
  padding: 0.3rem 1rem 0.3rem 1rem;
  background-color: #08bd80;
  border-radius: 0.2rem;
}
