.product_card {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.product_image {
  border-radius: 5px;
  width: 95%;
  margin-top: 5%;
  height: 180px;
  background-position: center center;
  object-fit: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.product_details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.price_container {
  display: flex;
}
.product_price {
  font-weight: bold;
  font-size: 18px;
  color: #212121d2;
}
.product_discount {
  color: #06cc6f;
  font-size: 15px;
  font-weight: 800;
  margin-left: 10px;
}
.product_name {
  font-family: "elemen";
  margin-top: 8px;
  font-style: normal;
  font-size: 15px;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #212121;
}
.product_price_strike {
  text-decoration: line-through;
  font-family: Epilogue;
  margin-left: 4px;
  margin-top: 2px;
  font-weight: 500;
  font-size: 14px;
  color: #9aa49f;
}
