@font-face {
  font-family: "elemen";
  src: url("../../assets/fonts/NeueEinstellung-Bold.woff2");
  font-weight: bold;
}
@font-face {
  font-family: "elemen";
  src: url("../../assets/fonts/NeueEinstellung-Regular.woff2");
  font-weight: normal;
}
@font-face {
  font-family: "helvetica-round";
  src: url("../../assets/fonts/helvetica-rounded-bold-5871d05ead8de.otf");
}
@font-face {
  font-family: "helvetica-bold";
  src: url("../../assets/fonts/Helvetica-Bold.ttf");
}
@font-face {
  font-family: "helvetica-regular";
  src: url("../../assets/fonts/helvetica.ttf");
}

.container {
  background-color: white;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.button_cart {
  height: 70px;
  width: 70px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: grid;
  place-items: center;
  background-color: black;
  border-radius: 100%;
}
.button_back {
  height: 50px;
  width: 50px;
  position: fixed;
  top: 20px;
  left: 20px;
  display: grid;
  place-items: center;
  background-color: white;
  border-radius: 100%;
}
.image_slider {
  width: 100%;
  min-height: 320px;
  /* border-radius: 0px !important; */
  position: relative;
  margin-bottom: 10px;
}

.product_top_container {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}
.product_name {
  color: #212121;
  min-width: 70%;
  margin-top: 20px;
  margin-right: 2%;
  margin-left: 5%;
  font-size: 30px;
  font-family: "elemen";
  font-weight: bold;
}
.price_container {
  margin-left: 5%;
  display: flex;
  margin-top: 4px;
  margin-bottom: 18px;
  flex-direction: row;
  align-items: center;
  font-family: "elemen";
}
.product_price {
  font-weight: bold;
  font-size: 28px;
  color: #ec7a5c;
}
.product_price_strike {
  text-decoration: line-through;
  font-weight: normal;
  font-size: 18px;
  margin-left: 6px;
  color: #c6c9c7;
}
.sub_heading {
  font-size: 15px;
  font-style: normal;
  font-family: "elemen";
  font-weight: bold;
  letter-spacing: 1.2px;
  text-align: left;
  margin-left: 5%;
  margin-bottom: 6px;
  margin-top: -15px;
  color: #666666;
}
.variant_container {
  display: flex;
  font-family: "elemen";
  margin-top: 5px;
  margin-left: 5%;
}
.variant_item {
  height: 55px;
  font-weight: bold;
  font-size: 17px;
  width: 55px;
  display: grid;
  place-items: center;
  margin-right: 20px;
  border-radius: 10px;
  background: #f6f6f6;
}
.variant_item_selected {
  height: 55px;
  font-weight: bold;
  font-size: 20px;
  width: 55px;
  left: 113px;
  display: grid;
  place-items: center;
  margin-right: 20px;
  top: 504px;
  border-radius: 10px;
  background: #000;
  color: white;
}
.add_cart_button {
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 15px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  border-radius: 10px;
  background-color: #ec7a5c;
}
.add_cart_icon {
  width: 40px;
  margin-bottom: 8px;
  margin-right: 5px;
}
.add_cart_text {
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 21px;
  font-family: "elemen";
  text-align: left;
  color: white;
}

.product_desc_container {
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
}
.product_desc_title {
  display: flex;

  font-family: "elemen";
  font-weight: bold;
  color: rgb(73, 71, 71);
  font-size: 20px;
}
.product_desc_body {
  font-family: "helvetica-regular";
  font-size: 16px;
  color: #838282;
  letter-spacing: 0.7px;
  margin-bottom: 20px;
}
