.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.link {
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  margin-top: 1px;
  text-decoration: none;
  /* color: rgb(8, 134, 184); */
}
.nav_container {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.nav_item {
  padding: 8px;
  display: flex;
  width: 80%;
  margin-top: 6px;
}
.nav_item:hover {
  background-color: rgb(231, 231, 231);
}
.nav_item > img {
  width: 30px;
  height: 30px;
  align-self: center;
}
.nav_item > h1 {
  font-size: 20px;
  margin-left: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
