.container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  background-color: #f1f1f1;
  min-height: 100vh;
}
.text {
  font-size: 14px;
  font-weight: 500;
}
.btn {
  padding: 18px 0px;
  border-radius: 4px;
  background: #00b140;
  color: white;
  font-weight: 600;
  border: black;
  width: 86%;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
}
.heading_bold {
  font-weight: 400;
  font-size: 18px;
  margin-left: 5px;
  margin-top: 8px;
  align-self: flex-start;
}
.row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}
.card {
  width: 100%;
  height: auto;
  padding: 20px 0px 20px 0px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: white;
}
.card_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card_heading {
  font-size: 14px;
  font-weight: 500;
  color: rgb(26, 24, 24);
  /* text-transform: uppercase; */
}
.card_data_bold {
  font-size: 33px;
  font-weight: 700px;
  color: #222154;
}
.iconFilled {
  filter: invert(50%) sepia(100%) saturate(746%) hue-rotate(117deg)
    brightness(90%) contrast(94%);
}
.cardPlain {
  margin-top: 20px;
  width: 89%;
  border-radius: 4px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px 10px;
  background-color: white;
}
.cardPlainHeading {
  font-size: 15px;
  font-weight: 500;
  margin-left: 6px;
  color: rgba(0, 0, 0, 0.9);
}
.cardPlainSubHeading {
  font-size: 14px;
  font-weight: 500;
  margin-top: 4px;
  margin-left: 6px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.5;
}
.btn_whatsapp {
  padding: 6px 8px;
  border-radius: 4px;
  background: #00b140;
  color: white;
  font-weight: 500;
  border: none;
  font-size: 14px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.whatsappicon {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(334deg)
    brightness(106%) contrast(103%);
  width: 16px;
  height: auto;
  margin-right: 2px;
}
.green {
  background-color: #00a65a;
}
.blue {
  background-color: #01c1f0;
}
.yellow {
  background-color: #f39c11;
}
.red {
  background-color: #d95352;
}
.lightgreen {
  background-color: #1ab0b0;
}
.orange {
  background-color: #ff7443;
}
.pink {
  background-color: #fa5a7d;
}

/* new css */

.topdiv {
  height: 180px;
  border-radius: 0px 0px 30px 30px;
  width: 100%;
  position: relative;
}
.welcome {
  color: white;
}
.shopname {
  color: white;
  font-size: 28px;
  font-weight: 700;
}
