.container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  background-color: #f1f1f1;
  min-height: 100vh;
}
.order_status_block {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: inline-block;
}
