@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,600,700);
* {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
.container {
  min-height: 100vh;
  display: flex;

  align-items: center;
  flex-direction: column;
}
.heading_block {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.3rem;
  margin-top: 2.5rem;
}
.input_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.heading_normal {
  font-weight: 400;
  font-family: "elemen";
  color: #222151;
}
.heading_bold {
  font-weight: 700;
  font-family: "elemen";
  color: #222151;
}
.heading_bold_big {
  font-weight: 700;
  font-size: 23px;
  font-family: "elemen";
  color: #222151;
}
.input_field {
  padding: 12px;
  background: #fff;
  /* border-color: #999999;
  border-width: 0.1rem; */
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 80%;
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 0px;
  border-radius: 4px;
  background: #00b140;
  color: white;
  font-weight: 600;
  border: none;
  width: 86%;
}
.loader {
  margin-left: 10px;
}
@media screen and (max-width: 420px) {
  .heading_normal {
    font-size: 23px;
  }
  .heading_bold {
    font-size: 23px;
  }
}
@media screen and (min-width: 920px) {
  .heading_normal {
    font-size: 26px;
  }
  .heading_bold {
    font-size: 26px;
  }
  .input_field {
    width: 25%;
  }
  .btn {
    width: 26%;
  }
}
