.container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.input_field {
  padding: 12px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 80%;
}
.btn {
  padding: 18px 0px;
  border-radius: 4px;
  background: #00b140;
  color: white;
  font-weight: 600;
  border: black;
  width: 86%;
  margin-bottom: 70px;
}
.heading_bold {
  font-weight: 600;
  font-size: 20px;
  text-align: left;
}
.align_left_container {
  margin-top: 40px;
  width: 80%;
  margin-left: 6%;
  margin-bottom: 10px;
}
.dropdown {
  width: 86%;
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  color: gray;
  border-radius: 4px;
  margin-bottom: 20px;
}
