.container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #00b140;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.btn {
  position: fixed;
  bottom: 0;
  left: 1;
  right: 1;
  z-index: 1000;
  padding: 18px 0px;
  border-radius: 4px;
  background: #00b140;
  color: white;
  font-weight: 600;
  border: black;
  width: 86%;
  margin-bottom: 60px;
  text-align: center;
  text-decoration: none;
}
.card {
  width: 86%;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #ccc;
  position: relative;
  margin: 10px;
}
.heading_bold {
  font-weight: 600;
  font-size: 28px;
  margin-top: 10px;
  margin-left: 8%;
}
.heading_small {
  font-weight: 500;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 8%;
}
.heading_normal {
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  margin-top: 5px;
}
.blank {
  margin-top: 110px;
}
.blank_two {
  margin-top: 60px;
}
.loaderwraper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: black;
}
