.container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}
.btn {
  padding: 18px 0px;
  border-radius: 4px;
  background: #00b140;
  color: white;
  font-weight: 600;
  border: black;
  width: 86%;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
}
.heading_block {
  width: 100%;
  align-items: flex-start;
  margin-top: 10vh;
}
.heading_bold {
  font-weight: 400;
  font-size: 18px;
  margin-left: 5px;
}
.row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}
.card {
  width: 45%;
  height: auto;
  padding: 20px 0px 20px 0px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: white;
}
.card_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card_heading {
  font-size: 10px;
  font-weight: 500;
  color: white;
  /* text-transform: uppercase; */
}
.card_data_bold {
  font-size: 29px;
  font-weight: 400px;
}
.iconFilled {
  width: 22px;
  height: auto;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(4deg) brightness(103%)
    contrast(103%);
  margin-bottom: 5px;
}
.cardPlain {
  margin-top: 20px;
  width: 89%;
  border-radius: 4px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px 10px;
}
.cardPlainHeading {
  font-size: 15px;
  font-weight: 500;
  margin-left: 6px;
  color: rgba(0, 0, 0, 0.9);
}
.cardPlainSubHeading {
  font-size: 14px;
  font-weight: 500;
  margin-top: 4px;
  margin-left: 6px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.5;
}
.btn_whatsapp {
  padding: 6px 8px;
  border-radius: 4px;
  background: #00b140;
  color: white;
  font-weight: 500;
  border: none;
  font-size: 14px;
  width: auto;
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.whatsappicon {
  filter: invert(99%) sepia(19%) saturate(0%) hue-rotate(355deg)
    brightness(112%) contrast(100%);
  width: 16px;
  height: auto;
  margin-right: 2px;
}
.green {
  background-color: #00a65a;
}
.blue {
  background-color: #01c1f0;
}
.yellow {
  background-color: #f39c11;
}
.red {
  background-color: #d95352;
}
