.container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  background-color: #f8f9fd;
  min-height: 100vh;
}
.heading {
  align-self: flex-start;
  font-weight: 700;
  color: #3b404e;
  font-size: 28px;
  margin-left: 5%;
  margin-top: 50px;
}
.subheading {
  font-weight: 600;
  font-size: 16px;
  color: #a7a7a7;
  font-family: "elemen";
}
.products {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 10px;
  flex-wrap: wrap;
}
.product_item {
  width: 96%;
  margin: 2%;
  border-radius: 15px;
  height: auto;
  background-color: white;
  display: flex;
  position: relative;
  flex-direction: row;
}
.product_image {
  padding: 10px;
  width: 60%;
  height: 140px;
  border-radius: 20px;

  background-position: center center;
  object-fit: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.product_details {
  margin-top: 12px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.whatsapp_icon {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(334deg)
    brightness(106%) contrast(103%);
  width: 35px;
}
.product_name {
  font-family: "elemen";
  font-size: 20px;
  font-weight: 600;
  color: #323232;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product_quantity {
  font-size: 14px;
  font-weight: 600;
  color: #323232;
}
.product_price {
  font-size: 18px;
  font-weight: 500;
  color: #00b140;
  font-family: "elemen";
  font-weight: 800;
}
.favouritesFilled {
  fill: black;
}
.quantity_container {
  display: flex;
  align-items: center;
}
.small_circle {
  font-family: "elemen";
  font-size: 18px;
  font-weight: 600;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f3f3f3;
  display: grid;
  place-items: center;
}
