.container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  /* background-color: #f7f7f7; */
  min-height: 100vh;
}
.image_slider {
  width: 100%;
  min-height: 350px;
  border-radius: 0px !important;
  position: relative;
}
.product_details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.product_name {
  font-size: 24px;
  font-weight: 700;
  color: #1f1f1f;
  margin-top: 15px;
  margin-left: 5%;
  align-self: flex-start;
}
.product_price_strike {
  font-size: 18px;
  font-weight: 400;
  margin-left: 5%;
  text-decoration: line-through;
  color: red;
  align-self: flex-start;
}
.product_price {
  font-size: 18px;
  font-weight: 400;
  margin-left: 5%;
  color: #00b140;
  align-self: flex-start;
}
.desc_heading {
  font-size: 16px;
  font-weight: 600;
  color: #1f1f1f;
  margin-top: 7px;
  margin-left: 5%;
  align-self: flex-start;
}
.description {
  font-size: 16px;
  font-weight: 400;
  margin-top: 7px;
  margin-left: 5%;
  margin-right: 2%;
  color: gray;
  line-height: 1.5;
  align-self: flex-start;
}
.btn_whatsapp {
  padding: 16px 0px;
  border-radius: 4px;
  background: #00b140;
  color: white;
  font-weight: 600;
  border: none;
  font-size: 17px;
  width: 90%;
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.whatsappicon {
  filter: invert(99%) sepia(19%) saturate(0%) hue-rotate(355deg)
    brightness(112%) contrast(100%);
  width: 30px;
  height: auto;
  margin-right: 6px;
}
.carticon {
  filter: invert(100%) sepia(0%) saturate(7473%) hue-rotate(322deg)
    brightness(108%) contrast(92%);
  width: 30px;
  height: auto;
  margin-right: 6px;
}
.btn_cart {
  padding: 16px 0px;
  border-radius: 4px;
  background: white;
  color: black;
  font-weight: 500;
  border: 1px solid black;
  font-size: 17px;
  width: 90%;
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
