.container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  /* background-color: #f7f7f7; */
  min-height: 100vh;
}
.image_slider {
  width: 100%;
  min-height: 350px;
  border-radius: 0px !important;
  position: relative;
}
.product_details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.product_name {
  font-size: 24px;
  font-weight: 700;
  color: #1f1f1f;
  margin-top: 15px;
  margin-left: 5%;
  align-self: flex-start;
}
.product_price {
  font-size: 18px;
  font-weight: 400;
  margin-top: 7px;
  margin-left: 5%;
  color: #00b140;
  align-self: flex-start;
}
.desc_heading {
  font-size: 16px;
  font-weight: 600;
  color: #1f1f1f;
  margin-top: 7px;
  margin-left: 5%;
  align-self: flex-start;
}
.description {
  font-size: 16px;
  font-weight: 400;
  margin-top: 7px;
  margin-left: 5%;
  margin-right: 2%;
  color: gray;
  line-height: 1.5;
  align-self: flex-start;
}
.btn_whatsapp {
  padding: 16px 0px;
  border-radius: 4px;
  background: #00b140;
  color: white;
  font-weight: 600;
  border: none;
  font-size: 17px;
  width: 90%;
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.whatsappicon {
  filter: invert(99%) sepia(19%) saturate(0%) hue-rotate(355deg)
    brightness(112%) contrast(100%);
  width: 30px;
  height: auto;
  margin-right: 6px;
}
.favouritesicon {
  filter: invert(0%) sepia(88%) saturate(7453%) hue-rotate(214deg)
    brightness(95%) contrast(110%);
  width: 30px;
  height: auto;
  margin-right: 6px;
}
.btn_favourites {
  padding: 16px 0px;
  border-radius: 4px;
  background: white;
  color: black;
  font-weight: 500;
  border: 1px solid black;
  font-size: 17px;
  width: 90%;
  margin-top: 7px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.products_block_s {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;

  overflow: auto;
  white-space: nowrap;
  background-color: red;
}
.product_item_s {
  width: 150px !important;
  background-color: red;
}
.product_image_s {
  width: 90%;
  height: 150px;
  border-radius: 15px;
  margin-top: 8px;
  background-position: center center;
  object-fit: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.product_details_s {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.product_name_s {
  font-size: 14px;
  font-weight: 600;
  color: #323232;
  margin-left: 6%;
  margin-top: 7px;
}
.product_price_s {
  font-size: 13px;
  font-weight: 500;
  color: #00b140;
  margin-left: 6%;
  margin-top: 3px;
  margin-bottom: 8px;
}
/*starts*/
.similarProducts {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;

  overflow: auto;
  white-space: nowrap;
}
.margin_left {
  margin-left: 5%;
}
.category_item_selected {
  background-color: black;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  font-size: 14px;
  margin-left: 5px;
  margin-bottom: 5px;
}
