@font-face {
  font-family: "elemen";
  src: url("./assets/fonts/circular-bold.woff");
  font-weight: bold;
}
@font-face {
  font-family: "elemen";
  src: url("./assets/fonts/circular-medium.woff");
  font-weight: medium;
}
@font-face {
  font-family: "elemen";
  src: url("./assets/fonts/circular-book.woff");
  font-weight: normal;
}
@font-face {
  font-family: "helvetica-round";
  src: url("./assets/fonts/helvetica-rounded-bold-5871d05ead8de.otf");
}
@font-face {
  font-family: "helvetica-bold";
  src: url("./assets/fonts/Helvetica-Bold.ttf");
}
@font-face {
  font-family: "helvetica-regular";
  src: url("./assets/fonts/helvetica.ttf");
}
::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
* { -webkit-tap-highlight-color: rgba(0,0,0,0); }

.product-card {
  width: "100%";
  display: grid;
  /* background-color: rgb(243, 244, 246); */
  border-radius: 7px;
  /* border:1px solid #d4d4d4; */
  padding: 10px;
  cursor: pointer;
  gap: 10px;
  height: "auto;";
  grid-template-columns: 100px 1fr;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;}